::view-transition-old(root),
::view-transition-new(root) {
  mix-blend-mode: normal;
  animation: none;
}

.chakra-ui-dark::view-transition-old(root) {
  z-index: 1;
  clip-path: none;
}

.chakra-ui-dark::view-transition-new(root) {
  z-index: 999;
  transition-duration: 0.5s;
  clip-path: var(--view-transition-clip-path);
}

::view-transition-old(root) {
  z-index: 999;
  transition-duration: 0.5s;
  clip-path: var(--view-transition-clip-path);
}

::view-transition-new(root) {
  z-index: 1;
  clip-path: none;
}
